:root {
  --bg: #050505;
  --accent: #00f2ff;
  --accent-glow: rgba(0, 242, 255, 0.15);
  --glass: rgba(255, 255, 255, 0.02);
  --glass-border: rgba(255, 255, 255, 0.07);
  --text-main: #ffffff;
  --text-dim: rgba(255, 255, 255, 0.5);
  --radius: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: var(--text-main);
  overflow-x: hidden;
  padding: 20px;
}

/*--main shell--*/
.appShell {
  width: 100%;
  max-width: 1400px;
  height: auto;
  min-height: 85vh;
  background: rgba(10, 10, 10, 0.4);
  backdrop-filter: blur(50px) saturate(200%);
  border: 1px solid var(--glass-border);
  border-radius: 40px;
  display: flex;
  padding: 24px;
  gap: 24px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 8);
  position: relative;
}

/*--sidebar--*/
.navRail {
  width: 80px;
  background: var(--glass);
  border-radius: 24px;
  border: 1px solid var(--glass-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30 0;
}

.navLogo {
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: var(--accent);
}

.navBottom {
  margin-top: auto;
}

.navBtn {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dim);
  margin-bottom: 20px;
  border-radius: 16px;
  transition: 0.4s cubic-bezier(0.2, 1, 0.3, 1);
  text-decoration: none;
  font-size: 1.4rem;
}

.navBtn:hover,
.navBtn.active {
  background: var(--accent);
  color: #000;
  box-shadow: 0 0 20px var(--accent-glow);
  transform: scale(1.1);
}

/*--Grid--*/
.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.cardHero {
  background: var(--glass);
  border: 1px solid var(--glass-border);
  border-radius: var(--radius);
  padding: 30px;
  position: relative;
  overflow: hidden;
  opacity: 1;
  transform: translateY(20px);
  animation: fadeUp 0.6s ease forwards;
  transition: 0.5 cubic-bezier(0.2, 1, 0.3, 1);
}

.cardHero:hover {
  border-color: rgba(0, 242, 255, 0.4);
  background: rgba(109, 196, 236, 0.162);
}
/*--Hero--*/
.hero {
  grid-column: span 3;
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroTittle {
  font-family: "Syne", sans-serif;
  font-size: clamp(3rem, 8vw, 6rem);
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -5px;
}

.heroTittle span {
  color: var(--accent);
}

.heroSubtittles {
  margin-top: 20px;
  color: var(--text-dim);
  max-width: 400px;
  line-height: 1.6;
}

.heroSubtittles {
  color: var(--accent);
}

.blobImage {
  width: 250px;
  aspect-ratio: 1;
  background: url(./images/Headshort\ blue\ blazer\ no\ bg.png) center/cover;
  background-color: var(--accent);
  border: 2px solid#ffffff;
  animation: morph 6s ease-in-out infinite;
  box-shadow: 0 0 50px var(--accent-glow);
}

@keyframes morph {
  0%,
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
}
